@{
    ViewData["Title"] = "About";
}
<div class="container">
<h1>About Us</h1>
<div class="row">
    <div class="col-md-6">
        <img src="http://s.kathimerini.gr/resources/2014-02/politismos3215-thumb-large.jpg" class="rounded img-fluid" alt="...">

    </div>
    <div class="col-md-6">
        <p>
            We are a sophisticated online shop, contains the greatest books, comics, magazines, CDs that you can find.
            Most of the products you will find on epaper come from all over the word. We are passionate for knowlegde, obsessed
            with the high quality books,comics, magazines and CDs.
            Having dozens of options for every type and weekly renewal of the e-shop. You can order your preferences 24 hours a day, with a click!
            Our goal is to easily deliver to your home the greatest books, magazines, comics, CDs and to offer you a high quality of products for your everyday life.
        </p>
    </div>
</div>
</div>