
@{
    ViewData["Title"] = "AdminIndex";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@*<h2>AdminIndex</h2>*@

<br>
<div class="row">

    <div class="col-md-4">
        <a type="button" class="btn btn-primary" a asp-action="AdminIndex" asp-controller="Product">
           
            View Products
        </a>
    </div>
    <div class="col-md-4">
        <a type="button" class="btn btn-primary" a asp-controller="Role" asp-action="Index">

           View Users
        </a>
    </div>
    <div class="col-md-4">
        <a type="button" class="btn btn-primary" a asp-controller="Order" asp-action="AdminIndex">

            Manage Orders
        </a>
        
    </div>
    
</div>
